nav {
  background: #006478;
  height: 80px;
  width: 100%;
}

.logo {
  /* background-image: url("../../../images/download2.png"); */
  width: 250px;
  height: 70px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  position: absolute;
  object-fit: cover;
  background-repeat: no-repeat;
}

.logo h2 {
  color: #00ffd0;
  font-weight: bold;
  font: "Roboto";
  font-size: 40px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0), -2px -2px 4px rgb(0, 0, 0);
}

.logo a {
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

/* Search */
.inputBox {
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 3vmax;
}

.search-input {
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 25em;
  height: 40px;
}

button {
  background-color: white;
  padding-right: 3px;
  border: none;
  height: 42px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
button:hover {
  color: #00414e;
}

nav ul {
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a.active {
  /* background-color: #028298; */
  text-decoration: underline;
}
a:hover {
  transition: 0.5s;
  text-decoration: none;
  text-decoration: underline;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 360px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li Link {
    font-size: 16px;
  }
  .inputBox {
    width: 1vw;
  }
}
@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }
  .navUnorderLinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #004a59;
    top: 65px;
    left: -200%;
    text-align: center;
    transition: all 0.5s;
    flex-direction: column;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: initial;
    padding-top: 5%;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul {
    justify-content: center; /* Center the navigation links horizontally */
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }

  .inputBox {
    width: 20%;
    margin-right: 20%;
  }

  .button {
    margin-right: 50px;
  }

  .search-input {
    width: 20em;
  }

  .navLinks {
    margin-bottom: 200px;
    margin-right: 50px;
    width: 100%;
  }
}
