.productListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: #85bcc7;
  border-left: 1px solid #404658;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#productListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: #404658;
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}

.productListTable {
  background-color: #dad6d6;
  border: none !important;
  color: #404658;
}

.productListTable div {
  font: 300 1vmax "Roboto";
  color: #404658;
  border: none !important;
}

.productListTable a,
.productListTable button {
  color: #404658;
  transition: all 0.5s;
}

.productListTable a:hover {
  color: #626a77;
}

.productListTable button:hover {
  color: white;
}

.MuiDataGrid-columnHeader div {
  color: white;
}

@media screen and (max-width: 600px) {
  .productListTable div {
    font: 300 4vw "Roboto";
  }
}
