.sidebar {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  background-color: #a6c5cb;
}

.sidebar > a:first-child {
  padding: 0;
}
.sidebar > a > img {
  width: 100%;
  transition: all 0.5s;
}

.sidebar > a > img:hover {
  filter: drop-shadow(0 0 10px #0589a3);
}

.sidebar a {
  text-decoration: none;
  color: black;
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: #626a77;
  transform: scale(1.1);
}

.sidebar a > P {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
  color: #404658;
}

.MuiTypography-root {
  background-color: #a6c5cb !important;
}
