footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: #003641;
  color: white;
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.leftFooter > a {
  text-align: center;
  font-size: 1.3vmax;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  margin: 0.3vmax;
}

.leftFooter > a:hover {
  color: #00bde2;
}

.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  color: #00ffd0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgb(255, 255, 255);
}
.midFooter > p {
  max-width: 60%;
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  color: white;
  transition: all 0.5s;
  margin: 0.3vmax;
}

.rightFooter > a:hover {
  color: #00bde2;
}
