body {
  background-color: #85bcc7;
}
/* Profile.css*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #85bcc7;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #dad6d6;
  border-radius: 5px;
  border: 5px solid #404658;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.profileContainer h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #404658;
}

.profileContainer a {
  text-decoration: none;
  color: #404658;
  margin: 10px 0;
}

.profileContainer a:hover {
  text-decoration: underline #404658;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emailDateRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileInfo div {
  margin: 10px 0;
}

.profileInfo h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.profileInfo p {
  font-size: 16px;
  color: #404658;
}

.profileInfo h3 {
  color: #ff0303;
  font-weight: bold;
  /* -webkit-text-stroke: 0.3px black; */
  font-size: 2vmax;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.links p {
  color: #016174;
  font-style: bold;
  font-size: 1.2rem;
}
