.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: #404658;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: #404658;
}

.stepper {
  background-color: #85bcc7;
}
